@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$font-primary: 'Poppins', sans-serif;

// Website Theme Variables --> will change
$pink-main: #d63384;          // primary pink
$pink-light: #f06292;         // accents / focus states
$pink-bg: #ffe6f2;            // page background
$pink-paper: #fff0f7;         // cards, surfaces
$pink-border: #ffc2d6;

$text-pink: #d63384;
